<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
    </h4>
    <small>
      <%= distance_of_time_in_words(Time.now, item.created_at + 7.days)   %> remaining <br>
    </small>
    <% if current_user.id.to_i == params[:id].to_i %>
      <%= link_to "", user_item_path(params[:id],item.id), method: :delete, class: 'glyphicon glyphicon-ok' %>
    <% end %>
  </div>
</div>
