<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
    </h4>
    <small>
      created <%= time_ago_in_words(item.created_at) %> ago <br>
    </small>
  </div>
</div>
