<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= item.name %>
    </h4>
    <small>
      created <%= time_ago_in_words(item.created_at) %> ago <br>
    </small>
    <% if current_user.id.to_i == params[:id].to_i %>
      <%= link_to "", user_item_path(params[:id],item.id), method: :delete, class: 'glyphicon glyphicon-ok' %>
    <% end %>
  </div>
</div>
